<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h3>Dropbox</h3>
                <ul>
                    <li><a href="#">Desktop app</a></li>
                    <li><a href="#">Mobile app</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Product</h3>
                <ul>
                    <li><a href="#">Plus</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Community</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Reseller</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3>follow us</h3>
                <div class="social-links">
                    <a href="#"><img width="25" height="25" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new"/></a>
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
                </div>
            </div>
            <div class="item">
                <img src="https://icon-library.com/images/white-globe-icon/white-globe-icon-7.jpg" height="30" width="30">
                  <span >English (United Kingdom)  > </span>
            </div>
            
        </div>
    </div>
</footer>
